<ion-slides (ionSlideWillChange)="_slideChange()">
  <ion-slide *ngFor="let q of questions">
    <p class="big-text" text-left margin-bottom>
      {{ metaQuestion }}
      {{ q.Question }}
    </p>
    <div>
      <button
        margin-top 
        ion-button block 
        *ngFor="let response of responses; let j = index" 
        (click)="_saveResponse(response, q, j)"
        [color]="_buttonColor(j)"
        [outline]="_isButtonOutline(j)"
      >{{ response }}</button>
    </div>
  </ion-slide>
</ion-slides>