<ion-header>
    <ion-navbar color="primary">
      <ion-title>
        Contact Information
      </ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content padding>
    <div>
      <p class="big-text" text-center>Please correct your contact &amp; child information below.</p>
      <ion-list>
        <ion-item>
          <ion-label color="primary" stacked>Child Name</ion-label>
          <ion-input value="John Smith"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" stacked>Parent (Contact) Name</ion-label>
          <ion-input value="Sally Smith"></ion-input>
        </ion-item> 
        <ion-item>
          <ion-label color="primary" stacked>Email Address</ion-label>
          <ion-input value="smith_s@gmail.com"></ion-input>
        </ion-item>  
      </ion-list>  
      <ion-row padding-left padding-right>
        <ion-col col-12>
          <button ion-button block color="success" (click)="submitContactInformation()">Submit Corrected Information</button>
        </ion-col>
      </ion-row>
      <ion-row padding-left padding-right>
        <ion-col>
          <p>Clicking the Submit button will send your corrected contact information to the Iowa Deparment of Education.</p>
          <p>Please contact <a href="mailto:jane_doe@iowa.edu">jane_doe@iowa.edu</a> with any questions or concerns.</p>
        </ion-col>
      </ion-row>
    </div>
  </ion-content>