<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Iowa Parent Survey
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding>
    <p class="big-text" text-center>Child and Service Coodinator Information</p>
    <ion-list no-margin>
      <ion-item  text-wrap style="border-top: none;">
        <ion-row>
          <ion-col col-6>Child</ion-col>
          <ion-col col-6 text-right><strong>{{ coordinatorData.ChildName }}</strong></ion-col>
        </ion-row>
      </ion-item>
      <ion-item text-wrap>
        <ion-row>
          <ion-col col-6>Service Coordinator</ion-col>
          <ion-col col-6 text-right><strong>{{ coordinatorData.CoordinatorName }}</strong></ion-col>
        </ion-row>
      </ion-item>
      <ion-item text-wrap>
        <ion-row>
          <ion-col col-6>Email</ion-col>
          <ion-col col-6 text-right><strong>{{ coordinatorData.CoordinatorEmail }}</strong></ion-col>
        </ion-row>
      </ion-item>
    </ion-list>  

    <ion-row no-margin>
      <ion-col col-6 offset-3>
        <button block ion-button small (click)="showSurveyAboutPage()" color="light">
          About This Survey
        </button>
      </ion-col>
    </ion-row>
    <button margin-top ion-button icon-end block (click)="showSurveyPage()" color="header">
      Begin Survey <ion-icon name="md-arrow-forward"></ion-icon>
    </button>
  </div>
  <hr />
  <div text-center margin-top>
    <img src="assets/imgs/early_access_logo.png" />
  </div>
  <!--<button ion-button clear (click)="goToCompletionPage()">End</button>-->
</ion-content>
