<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      About this Survey
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding>
    <p class="big-text">Please take a short survey about your experience with Early ACCESS services for your child.</p>

    <p class="big-text">
      This survey helps us improve services for children and families. All responses are kept completely confidential; no names are ever used. The survey asks about your experience with services provided by Early ACCESS through AEAs and University of Iowa Child Health Specialty Clinics.
    </p>
    <p class="big-text">
      The survey has only 17 items and takes less than 10 minutes. If you have more than one child receiving services, you might receive multiple surveys.
    </p>
    <p class="big-text">
      Survey assistance is available through your service coordinator. Please contact me if you have any questions about the survey. Thank you for your input to improve services to children and families.
    </p>
    <p class="big-text">  
      <a href="mailto:kate.small@iowa.gov">kate.small@iowa.gov</a><br />
      Early ACCESS Facilitator<br />
      Iowa Department of Education        
    </p>

    <button margin-top ion-button icon-end block (click)="showSurveyPage()" color="success">
      Begin Survey <ion-icon name="md-arrow-forward"></ion-icon>
    </button>
  </div>
</ion-content>
