// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #263595,
  secondary:  #3B6064,

  danger:     #CD5334,
  warning:    #F58F29,
  success:    #2CA58D,
  success-dark: #267760,
  pink:     #F46197,
  medium-blue: #7353BA,
  muted:       #6F7D95,


  white:      #ffffff,
  light:      #E9ECEA,
  dark:       #222,
  dark-gray:  #33363B,
  medium-gray: #6F7D95,
  light-gray:  #BBC7CE,
  super-light-gray: #f8f8f8,
  light-green: #F3FBF9,
  light-red: #E68776,

  label:     #797270,
  header:    #00A7DC,
  dark-blue: #373F51,
  menu-lines: #566075,

  button-color1: #8B7FFC,
  button-color2: #A39AFC,
  button-color3: #C2BDFD,
  button-color4: #FFECB2,
  button-color5: #FFE698
);

.primary {
  color: map-get($colors, primary);
}
.secondary {
  color: map-get($colors, secondary);
}
.danger {
  color: map-get($colors, danger);
}
.warning {
  color: map-get($colors, warning);
}
.medium-blue {
  color: map-get($colors, medium-blue);
}
.dark-blue {
  color: map-get($colors, dark-blue);
}
.header {
  color: map-get($colors, header);
}
.label {
  color: map-get($colors, label);
}
.pink {
  color: map-get($colors, pink);
}

// Override default form field validation colors.
// This prevents the GREEN and RED underlines from
// appearing on form field blur.
$text-input-ios-show-focus-highlight: false;
$text-input-md-show-focus-highlight: false;
$text-input-wp-show-focus-highlight: false;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
