// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "whitespace";

// Custom fonts
@font-face {
  font-family: LatoRegular;
  src: url("../assets/fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: LatoLight;
  src: url("../assets/fonts/Lato-Light.ttf");
}
@font-face {
  font-family: LatoHairline;
  src: url("../assets/fonts/Lato-Hairline.ttf");
}
@font-face {
  font-family: LatoBold;
  src: url("../assets/fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: LatoBlack;
  src: url("../assets/fonts/Lato-Black.ttf");
}

body, span, button, p, h1, h2, h3, ion-item, ion-title {
  font-family: 'LatoRegular' !important;
}

.pull-to-bottom {
  position: absolute;
  bottom: 1rem;
  width: 100%;
}

.home-logo-container {
  text-align: center;
}

.big-text {
  font-size: 1.7rem !important;
  line-height: 2.3rem !important;
}

/***** Nav Button Bar Shrink *****/
ion-row.nav-button-bar {
  height: 30px;
}

ion-row.nav-button-bar ion-col {
  padding: 0;
}

ion-row.nav-button-bar button {
  height: 30px; 
  line-height: 30px;
  margin: 0;
  text-transform: uppercase;
}

/***** TOAST STYLES *****/
.toast-success {
  > div {
    background-color: map-get($colors, success) !important;
  }
}
.toast-error {
  > div {
    background-color: map-get($colors, danger) !important;
  }
}
.toast-warning {
  > div {
    background-color: map-get($colors, warning) !important;
  }
}
.toast-loading {
  > div {
    background-color: map-get($colors, orange) !important;
  }
}

/***** Slide rejiggering so all content shows *****/
SCROLL-CONTENT {
	overflow-y: auto !important;
}

.slide-zoom{
  height:100%;
  overflow-y: auto;
}
