$spacers: (3, 6, 12, 18, 24, 30, 36, 42, 48);

@mixin create-margins() {
  @each $spacer in $spacers {
    .m-b-#{$spacer} {
      margin-bottom: #{$spacer}px;
    }
    .m-t-#{$spacer} {
      margin-top: #{$spacer}px;
    }
    .m-r-#{$spacer} {
      margin-right: #{$spacer}px;
    }
    .m-l-#{$spacer} {
      margin-left: #{$spacer}px;
    }
  }
}

@include create-margins();
