<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{ pageTitle }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding-left padding-right>
  <div *ngIf="incomplete == 0">
    <!--<h2>Your survey is complete.</h2>-->
    <ion-list>
      <ion-item text-wrap>
        <p class="big-text">Please provide any additional information you would like us to know about the Early ACCESS services your family received.</p>
      </ion-item>
      <ion-item>
        <ion-textarea [(ngModel)]="userComments" rows="4" placeholder="Enter your information here."></ion-textarea>
      </ion-item>
      <ion-item text-wrap>
         <p class="big-text">Would you consider sharing your Early ACCESS story with someone or providing more input?</p>
         <button ion-button small item-end (click)="showShareInfoPage()">Yes</button>
      </ion-item>
      <ion-item text-wrap>
        <p class="big-text">Click the Submit Survey button below. You may also use the Back arrow to review your responses.</p>
      </ion-item>
    </ion-list>
    <button margin-top ion-button icon-start block (click)="submitSurvey()" color="header">
      <ion-icon name="md-checkmark-circle"></ion-icon> Click to Submit Your Survey
    </button>
  </div>

  <div padding *ngIf="incomplete > 0">
    <h2 *ngIf="incomplete == 1">1 question is missing a response.</h2>
    <h2 *ngIf="incomplete > 1">{{ incomplete }} questions are missing responses.</h2>
    <p class="big-text">Would you like to respond to these questions before submitting your survey?</p>
    <ion-row margin-top>
      <ion-col col-3 offset-3>
        <button ion-button (click)="showSurveyCompletionMessage()" color="warning">No</button>
      </ion-col>
      <ion-col col-3>
        <button ion-button (click)="showSurveyPage()" color="primary">Yes</button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
