<ion-header>
    <ion-navbar color="primary">
      <ion-title>
        Survey Complete
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <div padding>
      <h2>Thank you!</h2>
      <p class="big-text">Thank you for completing the Iowa Early Access Parent Survey.</p>
    </div>
  
    <div class="home-logo-container pull-to-bottom">
      <img src="assets/imgs/logos.png" />
    </div>
  </ion-content>
  