<ion-header>
  <ion-navbar color="primary">
    <ion-title>Share Early ACCESS Story</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding-left padding-right>
  <ion-list>
    <ion-item text-wrap>
      <p class="big-text">Please update your contact information below as needed so that we may contact you later regarding your Early ACCESS story.</p>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Name</ion-label>
      <ion-input [(ngModel)]="userName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Email</ion-label>
      <ion-input [(ngModel)]="userEmail" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Phone Number</ion-label>
      <ion-input [(ngModel)]="userPhone" type="tel"></ion-input>
    </ion-item>
  </ion-list>
  <button margin-top ion-button icon-start block (click)="submitSurvey()" color="header">
    <ion-icon name="md-checkmark-circle"></ion-icon> Click to Submit Your Survey
  </button>
</ion-content>