<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <!--{{ currentQuestionNumber }} of {{ questionCount }}-->
      {{ sectionTitle }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides (ionSlideWillChange)="slideWillChange()" (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let q of questions; let i = index">
      <div padding-left padding-right>
        <p class="big-text" text-left>{{ q.MetaQuestion }} {{ q.QuestionText }}</p>
      </div>  
      <ion-row>
        <ion-col col-2></ion-col>
        <ion-col col-8>
          <div *ngFor="let response of responseButtons; let j = index">
            <button 
              *ngIf="j < 5"
              class="button-custom"
              margin-top 
              ion-button block 
              (click)="saveResponse(response.label, q, j)"
              [color]="buttonColor(j)"
              [outline]="isButtonOutline(j)"
            >
              <span class="button-badge" *ngIf="!buttonIsSelected(j)" [style.background-color]="response.badgeColor" [innerHTML]="response.badgeText"></span>

              <span class="button-badge selected" *ngIf="buttonIsSelected(j)"><ion-icon name="ios-checkmark-circle" style="font-size: 2.5rem; margin-top: 9px;" color="white"></ion-icon></span>
              {{ response.label }}
            </button>

            <!-- Not applicable button -->
            <button
              ion-button block
              *ngIf="j == 5"
              style="margin-top: 24px;" 
              (click)="saveResponse(response.label, q, j)"
              [color]="buttonIsSelected(j) ? 'success' : 'light'"
            >
              {{ response.label }}
            </button>
          </div>
          
        </ion-col>
        <ion-col col-2></ion-col>
      </ion-row>
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <button ion-button clear icon-start *ngIf="!firstQuestion" (click)="prevSlide()">
              <ion-icon name="ios-arrow-back"></ion-icon>
              Prev
            </button>
          </ion-col>
          <ion-col col-4>
            <div class="count-badge">{{ currentQuestionNumber }} of {{ questionCount }}</div>
          </ion-col>
          <ion-col col-4>
            <button ion-button clear icon-end *ngIf="!lastQuestion" (click)="nextSlide()">
              Next
              <ion-icon name="ios-arrow-forward"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-slide>
  </ion-slides>
</ion-content>
