.section-title {
  width: 100%;
  text-align: center;
}

.survey-section-container {
  height: 100%;
  padding-top: 2rem;
}

.bar-simple-container {
  padding: 2px;
  background-color: map-get($colors, white);
  border-radius: 6px;
  border: 1px solid #eee;
  position: relative;
}

.bar-simple-container div.bar {
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  height: 20px;
  border-radius: 4px;
  background-color: #86c7f3;
  line-height: 20px;
}

.bar-simple-label {
  width: 100%;
  text-align: center;
  color: map-get($colors, dark-gray);
  font-size: 1.5rem;
  font-weight: bold;
  margin: 3px 0 5px 0;
}

.button-custom {
  text-transform: none !important;
  padding-left: 0px;
  border-radius: 4px;
  border-color: map-get($colors, light-gray);
}

.button-custom .button-inner {
  text-align: left !important;
  justify-content: left !important;
  font-weight: bold;
}

.button-badge {
  display: block;
  height: 100%;
  width: 32px;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin-right: 12px;
  line-height: 40px;
  color: map-get( $colors, dark );
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.button-badge.selected {
  background-color: #267760;
}

/***** Let title go all the way across *****/
.toolbar-ios ion-title {
  padding: 0 0 1px;
}

.count-badge {
  width: 6rem;
  height: 2.5rem;
  background-color: map-get($colors, warning);
  color: map-get($colors, white);
  text-align: center;
  border-radius: 2rem;
  font-family: LatoBold;
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: 1.5rem auto;

  /*
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  */
}