<ion-header>
  <ion-navbar color="danger">
    <ion-title>
      Error!
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="error-message-container">
    <h1>{{ errorMessage }}</h1>

    <p>Please contact your Service Coordinator if you need help accessing the survey. We're sorry for the inconvenience.</p>
  </div>
</ion-content>